{% extends '../base.html' %}
{% load static %}
{% block title %} Todos Page {% endblock %}

{% block style_content %}
<style>
    .my-todos{    
        display: flex;
        justify-content: center;
    }
    .todo-edit {
        width:50vw;
    }
    .todo {
        display:flex;
        justify-content: space-between;
        padding:1.3rem 1rem;
        min-height: 30px;
        align-items: center;
        background-color: rgb(221, 204, 173);
        margin-top: 1rem;
        position:relative;
    }
    .badges {
        position:absolute;
        top:-5px;
        left:0;
    }
    small {
        font-size:1.25rem;
    }
    .fa-trash {
        color:red;
        cursor: pointer;
    }
    .fa-pen {
        color:blue;
        cursor: pointer;
    }
    .input-form{
        width: 100%;
    }
    .form-control-todo {
        width: 100%;
        background-color: rgb(236, 235, 235);
        outline: none;
        border: none;
        padding: 5px;
        font-family: "Cambria";
    }
    .form-control-todo::placeholder {
        font-family: "Cambria";
    }
    #select-todo-action {
        width:100%;
        background:rgb(236, 235, 235);
        outline: none;
        border: none;
        padding: 5px;
        font-family: "Cambria";
    }
    @media only screen and (max-width: 760px) {
  .todo-edit{
      width:100%;
  }
}
</style>
{% endblock %}

{% block content %}

<div class="container">
    <h3 class="mt-2 text-center">{{title}} a Todo</h3>
    <div class="my-todos">
        <form class="todo-edit" method="POST">
            {% csrf_token %}
            <div class="input-form">
                {{form.description}}
            </div>
            <div class="input-form">
                {{form.status}}
            </div>
            <input type="submit" class="btn btn-primary mt-3" value="{{title}}">
            <a href="{% url 'todos' %}"  class="btn btn-warning mt-3" value="Cancel">Cancel </a>
        </form>
    </div>
</div>

{% include '../messages/message.html' %}


{% endblock %}