{% extends '../base.html' %}
{% load static %}

{% block title %} Home Page {% endblock %}

{% block style_content %}
<style>
    .try {
        background-color: red;
        margin:3rem;
    }
</style>
{% endblock %}

{% block content %}

<h2 class="try">Welcome {{request.user.username}}</h2>

{% include '../messages/message.html' %}

{% include '../messages/sweetalert.html' %}

{% endblock %}